[submodule "thirdpart/undertaker"]
	path = thirdpart/undertaker
	url = https://gitee.com/mirrors_gulpjs/undertaker
[submodule "thirdpart/undertaker-registry"]
	path = thirdpart/undertaker-registry
	url = https://gitee.com/mirrors_gulpjs/undertaker-registry
[submodule ".\\thirdpart\\gulp"]
	path = .\\thirdpart\\gulp
	url = https://gitee.com/mirrors_gulpjs/gulp
[submodule ".\\thirdpart\\bach"]
	path = .\\thirdpart\\bach
	url = https://gitee.com/mirrors_gulpjs/bach
[submodule ".\\thirdpart\\async-done"]
	path = .\\thirdpart\\async-done
	url = https://gitee.com/mirrors_gulpjs/async-done
[submodule ".\\thirdpart\\now-and-later"]
	path = .\\thirdpart\\now-and-later
	url = https://gitee.com/mirrors_gulpjs/now-and-later
[submodule ".\\thirdpart\\gulp-cli"]
	path = .\\thirdpart\\gulp-cli
	url = https://gitee.com/mirrors_gulpjs/gulp-cli
[submodule ".\\thirdpart\\vinyl-fs"]
	path = .\\thirdpart\\vinyl-fs
	url = https://gitee.com/mirrors_gulpjs/vinyl-fs
[submodule ".\\thirdpart\\vinyl"]
	path = .\\thirdpart\\vinyl
	url = https://gitee.com/mirrors_gulpjs/vinyl
